body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}
/*logo*/
.wort-logo {
    text-decoration: none;
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.link-logo {
    text-decoration: none;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;

    padding-top: 25.5px;
    padding-bottom: 25.5px;

    margin-right: 76px
}

/* .link address {
    color: #434455;
} */

/*Шапка сайта.Навігація*/
ul {
    list-style: none;
    /* margin-top: 0;
    margin-bottom: 0; */
    padding-left: 0;
    margin: 0 auto;
}
/* delete */
/* .list {
    margin-top: 0;
    margin-bottom: 0;
} */

.link {
    text-decoration: none;
    color: #2E2F42;
}
/* .header {
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
   } */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
        /* text-align: center; */
}
.header-navigetion {
    display: flex;
    align-items: center;

    margin: 0 auto;
}
.header-list {
    display: flex;
    margin-left: 76px;
    /* margin-right: 0;
    gap: 40px */
}

/* .header-list .header-ithem:not(:last-child) {
    margin-right: 40px;
} 
oder */
.header-list .header-ithem + .header-ithem {
    margin-left: 40px;
}

.header-ithem a {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    padding-top: 24px;
    padding-bottom: 24px;
    width: calc(100% - 24px)/3;
    /* margin-right: 40px; */
}

.header-ithem a:hover,
.header-ithem a:focus {
    color: #404bbf;
}

.header-addres a:hover,
.header-addres a:focus {
    color: #404bbf;
}
/* delete
.header-addres-tel a:hover,
.header-addres-tel a:focus {
    color: #404bbf;
} */

.heder-ithem:hover,
.heder-ithem:focus {
    color: #404BBF;
}

.header-address-list {
    display: flex;

    font-style: normal;
    color: #2E2F42;
    gap: 40px;
    margin: 0 auto;

    /* delete
    padding-top: 24px;
    padding-bottom: 24px; */
    width: calc(100% - 24px)/2;
}

.header-address-list .header-addres + .header-addres {
    margin-left: 40px;
}

.header-address {
    display: block;

    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
    margin-right: 0;
}

.header-addres {
    gap: 40px;
    /* margin-right: 0; */
    margin: 0 auto;
}

.link :hover, 
.link :focus {
    color: #404BBF;
}

section {
padding-top: 120px;
padding-bottom: 120px;
}


.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
}
/*Hero*/

.hero-subject {
    font-size: 56px;   
    font-weight: 700;
    background-color: #2e2f42;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 48px;
    /* padding-top: 188px;
    padding-bottom: 292px; */
    /* padding: 188px 0; */
    max-width: 496px;
    /* align-items: center;
    justify-content: center; */
}

.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0 0;
    align-items: center;
    margin:auto 0;
}
.main-hero {
    display: block;
    /* margin: auto 0; */
    padding-bottom: 292px;

}

.hero-btn {
    display: inline-block;
    color: #FFFFFF;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    gap: 10px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color:#404BBF;
}

.p {
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.feature-ithem {
    display: block;
    width: calc((100% - 72px) / 4);
}
.feature-list {
    display: flex;
    gap: 24px;

    padding-top: 24px;
    padding-bottom: 24px;
    /* width: calc((100% - 72px) / 4); */
    margin-bottom: 0;
}
.feature-subtitle {
    display: flex;
    /* margin-bottom: 8px; */
}
.feature-text {
    display: flex;
    margin-bottom: 0;
}

.feature-list .feature-ithem + .feature-ithem {
    margin-left: 24px;
}

.feature-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
        width: 1px;
        height: 1px; 
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
     
}

.feature-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.feature-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.team {
    background-color: #F4F4FD;
 }

.team-title {
    font-size: 36px;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.team-item {
    display: block;
    
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    margin: 0;
    border-radius: 0px 0px 4px 4px;
    /* gap: 24px; */
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
    /* border-radius: 0px 0px 4px 4px; */

    /* width: calc(100% - 24px)/4; */
    /* width: calc((100% - 72px) / 4); */
}

/* .main-team {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
} */
.cards-team {
    padding: 32px 0;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    margin: 0;

}

.team-image {
    display: block;
}

.team-name {
    display: inline;
  
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    /* margin: 0 0 8px; */
    padding-top: 32px;

    justify-content: center;
    /* align-items: center; */
    gap: 32px;
    text-align: center;
    /* margin-bottom: 8px; */
}

.team-text {
    display: inline;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    /* margin-bottom: 0; */
    padding-bottom: 32px;
    
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.portfolio {
    text-transform: capitalize;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;

    margin-top: 0;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
   
    flex-direction: column;
    padding-top: 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    margin: 0;
}

.portfolio-text {
    display: flex;

    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 32px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.portfolio-list {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    display: block;

    width: calc((100% - 48px) / 3);
}

.cards-portfolio {
    display: block;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    /* border-top: none;
    margin-bottom: 8px; */
    width: calc((100% - 48px) / 3);
    margin: 0;
    padding: 0;
}


.portfolio-image {
    display: block;
    margin: 0;
    /* padding: 0; */
}

.footer {
    background-color:#2E2F42;
    padding: 100px 0;
}

.footer-text {
    display: flex;
    width: 264px;

    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-top: 16px;
    margin-bottom: 0;
    /* padding-top: 140px; */
    /* padding-bottom: 100px; */
}
.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    color: #F4F4FD;
}